@model IEnumerable<DatingApp.Models.User>

@foreach (var item in Model)
{
    int IdSession = int.Parse(Session["Id"].ToString());

    if (item.Id == IdSession)
    {
        var sum = @item.Friends.Count;
        <p class="alert-danger">@sum</p>
    }
    if(item.Id != IdSession)
    {
        foreach (var user in Model)
        {
            if(user.Id == IdSession)
            {
                var sum = user.Friends.Count;
                <p>@sum</p>
                break;
            }
        }
    }
}


