@model DatingApp.Models.User

@if (Session["Id"] != null)
{
    int sum = 0;
    int IdSession = int.Parse(Session["Id"].ToString());


    if (Session["Id"] != null && Model.Id == IdSession)
    {
        sum = Model.Friends.Count;
        <p class="alert-danger">@sum</p>
    }
    else
    {

    }
}