
@{
    ViewBag.Title = "LoggedIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Session["Id"] != null)
{
    <h4>Hello @Session["Email"].ToString()</h4>
}

@Html.ActionLink("Uppdatera användaruppgifter", "Edit", "Users")