@model IEnumerable<DatingApp.Models.Post>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    <h4>Post</h4>
    <hr />
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Message)
            </th>
        </tr>


        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Message)
                </td>
            </tr>
        }
    </table>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.PostId }) |
        @Html.ActionLink("Back to List", "Index")*@
</p>
