@model IEnumerable<DatingApp.Models.User>

@{
    ViewBag.Title = "Användare";
}
<h2>@ViewBag.Title.</h2>





<br />

@using (Html.BeginForm("Index", "Users", FormMethod.Get))
{
    <p>
        @Html.TextBox("Sök")
        <input type="submit" value="Sök användare" />
    </p>
}

<h3>Registrerade användare</h3>
<ul>
    @foreach (var item in Model)
    {
        <li><a href="~/Users/LoggedIn/@item.Id">@Html.DisplayFor(modelItem => item.Firstname)</a></li>
    }
</ul>