@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>JSF Dating Application</h1>
    <p class="lead">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Julia</h2>
        <img src="~/Content/bild1.jpg" />
        <p>Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
    </div>
    <div class="col-md-4">
        <h2>Sabina</h2>
        <img src="~/Content/bild2.jpg" />
        <p>Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
    </div>
    <div class="col-md-4">
        <h2>Filippa</h2>
        <img src="~/Content/bild3.jpg" />
        <p>Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
    </div>
</div>