@model DatingApp.Models.User

@if (Session["Id"] != null)
{
    int IdSession = int.Parse(Session["Id"].ToString());

    if (Session["Id"] != null && Model.Id == IdSession)
    {
        <li class="alert-danger">Följer: @Model.Friends.Count användare.</li>
    }

    if (Session["Id"] != null && Model.Id != IdSession)
    {
        <li class="alert-danger">Följer: @Session["Count"].ToString() användare.</li>
    }
}

