@*Skriver ut hur många följare den inloggade användaren har i headern.
    Anropas i _LoginPartial.
*@

@using (DatingApp.Models.MyDataContext db = new DatingApp.Models.MyDataContext())
{
    int IdSession = int.Parse(Session["Id"].ToString());
    var friends = db.Friends.ToList();

    if (Session["Id"] != null)
    {
        <li class="alert-danger">Följare: @Session["CountFollowers"].ToString() st.</li>
    }
}


