
@{
    ViewBag.Title = "_LoginPartial";
}

@if (Session["Id"] == null)
{
    <li>@Html.ActionLink("Log in", "Login", "Users")</li>
}

else
{
    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <li>@Html.ActionLink(DatingApp.Resources.HomeText.Profile, "Loggedin", "Users")</li>
        <li>@Html.ActionLink(DatingApp.Resources.HomeText.Logout, "Logout", "Users")</li>
    }
}

